<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Kenrick Rilee - {% if page.title %} {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header id="header">
        <h1>Kenrick Rilee</h1>
        <a href="/">Projects</a><br/>
        <div style="padding-left:1em;">
          <a href="/#javascript">Javascript</a><br/>
          <a href="/#cpp">C/C++</a><br/>
          <a href="/#android">Android</a><br/>
          <a href="/#gamedev">Games</a><br/>
        </div>
		<br/>
		<a href="files/kenrick-rilee-resume-2016.pdf">Resume</a><br/>
		<a href="https://github.com/cricklet">GitHub</a><br/>
		<br/>
      </header>
      <section>
		{{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

  </body>
</html>
